@import '@navikt/ds-css' layer(aksel);
.veilarbdetaljerfs {
    padding-top: var(--ax-space-12);
    height: 100%;
    background-color: var(--ax-bg-neutral-moderate);
    font-family: var(--ax-font-family);
}

.overblikk {
    max-width: 1920px;
    margin: 0 auto;
}

.midtstill {
    margin: 0 auto;
    width: fit-content;
}

.main_grid {
    column-count: 2;
    padding: 0 var(--ax-space-40) var(--ax-space-40);
}

.overblikk_chips {
    margin-left: var(--ax-space-40);
    margin-bottom: var(--ax-space-20);
    display: flex;
    align-items: center;
    gap: var(--ax-space-8);
}

.underinformasjon {
    margin-bottom: var(--ax-space-16);
}

.informasjonsbolk_tittel {
    display: flex;
    align-items: center;
    gap: var(--ax-space-8);
    margin-bottom: var(--ax-space-4);
}

.kilde_tekst {
    color: var(--ax-text-neutral-subtle);
}

#kun_til_printing {
    display: none;
}

@media print {
    #veilarbpersonflatefs-root,
    .nokkelinfo_panel,
    .overblikk_chips,
    .info_panel,
    #til-toppen-knapp {
        display: none;
    }

    #kun_til_printing {
        display: block;
    }

    @page {
        margin: 2cm;
    }

    @page:first {
        margin-top: 1cm;
    }

    a:link:after,
    a:visited:after {
        content: '';
    }
}
