@import '@navikt/ds-css' layer(aksel);

.main_grid {
    display: grid;
    grid-template-columns: 49.3% 49.3%;
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    grid-gap: 20px;
}

.underinformasjon {
    margin-bottom: 1rem;
}

.innrykk {
    padding-left: 0.5rem;
}

.info_panel {
    margin: 10px;
    background-color: var(--a-font-line-height-medium);
}

.info_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}

@media only screen and (max-width: 1500px) {
    .info_container {
        grid-template-columns: 1fr;
    }
}

.informasjonsbolk {
    margin: 1rem 10px;
}

.informasjonsbolk-tittel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--a-spacing-1);
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.kilde-tekst {
    max-width: 20rem;
    padding: 0 0.5rem;

    color: var(--a-gray-600);
    line-height: 1rem;
}

.lenke-brukerprofil {
    display: flex;
    justify-content: flex-end;
}
