@import '@navikt/ds-css' layer(aksel);
.veilarbdetaljerfs {
    background-color: var(--a-bg-subtle);
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_grid {
    column-count: 2;
    padding-left: 80px;
    padding-right: 80px;
}

@media only screen and (max-width: 1500px) {
    .info_container {
        grid-template-columns: 1fr;
    }
}
.underinformasjon {
    margin-bottom: 1rem;
}

.informasjonsbolk-tittel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--a-spacing-1);
}
.informasjonsbolk {
    padding-bottom: 10px;
}

.kilde-tekst {
    color: var(--a-text-subtle);
}

.lenke-brukerprofil {
    display: flex;
    justify-content: flex-end;
}

.lenke-brukerprofil {
    display: flex;
    justify-content: flex-end;
}
