.alert-med-feilkode__read-more {
    /* Overstyrer theme/farger */
    --ac-read-more-text: var(--a-text-default);
    --ac-read-more-hover-bg: var(--a-surface-hover);
    --ac-read-more-hover-text: var(--a-text-default);
    --ac-read-more-active-bg: var(--a-surface-active);
    --ac-read-more-line: var(--a-border-divider);
}