#til-toppen-knapp {
    position: fixed;
    right: var(--ax-space-24);
    bottom: var(--ax-space-24);
    padding: var(--ax-space-8);
    animation: fadeInAnimation 0.5s;
}

@keyframes fadeInAnimation {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#til-toppen-knapp:not(:hover):not(:active) {
    background-color: var(--ax-bg-default);
}

#til-toppen-knapp > span {
    font-size: 1.75rem;
    transform: rotate(-90deg);
}
