.cv-panel {
    margin: 10px;
    background-color: var(--a-gray-100);
}

.cv-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}

@media only screen and (max-width: 1500px) {
    .cv-container {
        grid-template-columns: 1fr;
    }
}
