.cv-panel {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--a-gray-100);
}

.cv-container {
    grid-row: row 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}

.cv-tittel {
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-xsmall);
    margin-bottom: 10px;
    display: block;
}

@media only screen and (max-width: 950px) {
    .nokkelinfo_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.cv-info {
    margin: 1rem 0 1rem 0;
}

.cv-info-tittel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: var(--a-spacing-1);
}

.cv-sammendrag {
    width: 100%;
}

.underinformasjon {
    margin-bottom: 1rem;
}