.info_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--a-spacing-8);
    margin-top: var(--a-spacing-3);
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}
.info_panel {
    background: linear-gradient(to bottom, var(--a-deepblue-200) 55px, white 20px);
    break-inside: avoid-column;
    margin-bottom: var(--a-spacing-10);
    border-radius: var(--a-border-radius-xlarge);
    border-color: var(--a-gray-50);
}

@media only screen and (max-width: 1279px) {
    .info_container {
        grid-template-columns: 1fr;
    }
}

.BodyHeader {
    font-weight: bold;
}
.EnkeltInfoValue {
    padding-bottom: var(--a-spacing-2);
}
.copyHeader {
    margin-bottom: -12px;
    font-weight: var(--a-font-weight-bold);
}
.copyBody {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
}
.withEMDASH {
    margin-top: var(--a-spacing-3);
}
.copyTlf {
    display: flex;
    align-items: center;
}
.tlf_registrert {
    position: relative;
    top: -10px;
}
.pilot_alert {
    margin: var(--a-spacing-3) var(--a-spacing-10) var(--a-spacing-3) var(--a-spacing-10);
}

.BodyShortItalic {
    font-style: italic;
}
.Fullmakter {
    margin-top: var(--a-spacing-4);
}
.PanelHeader {
    text-align: center;
    margin-bottom: var(--a-spacing-4);
}
.italic-gra {
    color: var(--a-gray-600);
    font-style: italic;
}
