.info_panel {
    background: linear-gradient(to bottom, var(--ax-bg-neutral-moderate-pressed) 55px, var(--ax-bg-default) 20px);
    break-inside: avoid-column;
}

.panel_header {
    text-align: center;
    margin-bottom: var(--ax-space-16);
}

.alert_container {
    margin-bottom: var(--ax-space-16);
}

.info_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--ax-space-16);
}

@media only screen and (max-width: 1279px) {
    .info_container {
        grid-template-columns: 1fr;
        grid-gap: var(--ax-space-8);
    }
}

.body_header {
    font-weight: bold;
}

.enkeltinfo_value {
    padding-bottom: var(--ax-space-8);
}

.copy_header {
    font-weight: var(--ax-font-weight-bold);
}

.copy_body {
    display: flex;
    align-items: center;
}

.with_emdash {
    margin-top: var(--ax-space-12);
}

.panel_infoboks {
    margin-top: var(--ax-space-16);
}

#personalia_advarsel {
    margin-bottom: var(--ax-space-16);
}

.cv-lenker {
    margin-bottom: var(--ax-space-8);
}

.typografi_dato {
    font-style: italic;
}

.registrering_dato {
    color: var(--ax-neutral-700);
    font-style: italic;
}

.lenke-ikon {
    font-size: 1.25rem;
}

.personopplysningslenke {
    display: flex;
    justify-content: flex-end;
}

#arbeidsforholdikon {
    height: 1.5rem;
    width: 1.5rem;
}

.reservert-krr-info {
    margin-bottom: var(--ax-space-8);
}

.info-for-en-fullmakt:not(:last-of-type) {
    margin-bottom: var(--ax-space-32);
}
