.nokkelinfo_panel {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--a-surface-action-subtle-hover);
}

.nokkelinfo_container {
    grid-row: row 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}

.pilot_alert {
    margin-left: 60%;
    margin-right: 40px;
}

@media only screen and (max-width: 950px) {
    .nokkelinfo_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.registrering_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 20px;
}
