.nokkelinfo_panel {
    margin: 0 var(--ax-space-40) var(--ax-space-40);
    background-color: var(--ax-bg-accent-moderate-pressed);
    border-radius: var(--ax-radius-8);
    border-color: transparent;
}

.nokkelinfo_container {
    grid-row: row 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: var(--ax-space-20);
    justify-content: space-evenly;
    line-height: var(--ax-font-line-height-medium);
}

@media only screen and (max-width: 1023px) {
    .nokkelinfo_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
