.nokkelinfoPanel {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--a-surface-action-subtle-hover);
}

.nokkelinfoContainer {
    grid-row: row 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}

.nokkelinfoTittel {
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-xsmall);
    margin-bottom: 10px;
    display: block;
}

.EnkeltinformasjonSpan {
    margin: 10px;
}

.nokkelinfoUndertittel {
    font-size: var(--a-font-size-medium);
}

.PilotAlert {
    margin-left: 60%;
    margin-right: 20px;
}

@media only screen and (max-width: 950px) {
    .nokkelinfoContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}