.overblikkPanel {
    margin: 20px;
    background-color: var(--a-surface-action-subtle-hover);
}

.overblikkContainer {
    grid-row: row 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    line-height: var(--a-font-line-height-medium);
}

.overblikkTittel {
    font-weight: var(--a-font-weight-bold);
    font-size: var(--a-font-size-heading-small);
}

.overblikkUndertittel {
    margin-inline-start: 0;
    padding-top: 5px;
}

.PilotAlert {
    margin-left: 60%;
    margin-right: 20px;
}