.personvern_modal {
    font-size: var(--a-font-size-medium);
    max-width: 45rem;
    margin: 0 auto;
    padding: var(--a-spacing-4);
}

.personvern_modal_header {
    border-bottom: var(--a-spacing-05) solid var(--a-gray-400);
    padding-bottom: var(--a-spacing-4);
}

.personvern_modal__innhold {
    padding: var(--a-spacing-4) var(--a-spacing-2) var(--a-spacing-4) var(--a-spacing-2);
}

.personvern_modal__innhold ul {
    margin-top: var(--a-spacing-1);
    margin-bottom: var(--a-spacing-1);
    margin-left: var(--a-spacing-1);
}

.personvern_modal__innhold p {
    margin-left: var(--a-spacing-6);
}

.personvern_modal__innhold h2 {
    margin-top: var(--a-spacing-2);
    margin-left: var(--a-spacing-3);
}

.profilering_boks {
    margin-top: var(--a-spacing-5);
}

.registrering_nedre_container {
    padding: var(--a-spacing-5);
}
.utskrift_knapp {
    margin-top: var(--a-spacing-2);
}
