name: 'prod: Deploy Backend for Frontend for veilarbdetaljerfs'

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/deploy-backend-for-frontend-prod.yaml'
      - '.nais/obo-nais-prod.yaml'
  workflow_dispatch:

concurrency:
  group: deploy_backend_for_frontend_prod
  cancel-in-progress: true

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5
      - name: Deploy til prod-gcp
        uses: nais/deploy/actions/deploy@961addd1e4d4211f1a7333ada5fde85f7c9aa5b7 # ratchet:nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/obo-nais-prod.yaml
