name: Verifiser at koden tilfredsstiller krav til Pull Request
on:
  pull_request:
    branches:
      - 'main'

jobs:
  verifiser:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # ratchet:actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
          registry-url: 'https://npm.pkg.github.com'
      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Run prettier check
        run: npm run prettier:check
      - name: Run eslint check
        run: npm run lint
      - name: Run tests
        run: npm run test
      - name: Build app
        run: npm run build
